#u1{
	list-style-type: none;
	margin: ;
	padding: 0;
	overflow: hidden;
	background-color: black;
	border-style:  solid;
	border-color: white;
	border-width: 1px;

	

}
#l1{
	float:left;

}
#l1 a{
	display: block;
    color: white;
    text-align: center;
    padding: 30px 80px;
    text-decoration: none;
    font-size: 30px;
    font-family: courier;

}

}
#l1 a:hover{
	background-color: red;

}

/*menu item*/


.container {
  position: relative;
  
}

.image {
  display:block;
  width: 370px ;
  height: 300px;
  margin-right: 0;
  padding: 5px;
  border-radius: 25px;
}

.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.7;
  height: auto;
  width: auto;
  
  }

.text1 {
  color: black;
  font-size: 30px;
  font-family: bebas;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

 
 
#panel,#flip {
	height: 50px;
	width: 700px;
    padding: 5px;
    margin-right:100px;
    margin-left:500px ;
    text-align: center;
    background-color: white;
    border: s;
    text-align: center;
    font-family: bebas;
    font-size: 30px;
    text-shadow: 6px black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    text-shadow: 1px 1px;
    
}

#panel {
    padding:100px;
    display: none;
    text-align: center;
    position: absolute;


}
.gif{
	margin-left: 100px;
}





#c1{
	font-family: bebas;
	font-size: 50px;
	text-align: center
	;
}