/*topstyling*/
ul {
    list-style-type: none;
    margin-top:0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 8;
    

    overflow: hidden;
    background-color:rgba(0,0,0,0.0s);
}
li {
    float: left;
    z-index: 1;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    z-index: 0;

    text-decoration: none;
    font-family: "Amatic SC",sans-serif;
}

li a:hover{
    z-index: 0;
    background-color: red;
    opacity:1;
    font-size: 25px;
    color: white;
    /*position: relative;*/
}
body {
  font-family: Verdana,sans-serif;
  border-collapse: collapse;
}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin:0 px;
  z-index:-1;
}

/* Caption text */
.text {
  color: white;
  font-size: 40px;
  font-family: "bebas";
  padding: 100px; 
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.abc{
    
    opacity: 0.8;
    height: 700px;
}
.txt1{
  color: white;
  font-size: 20px;
  font-family: "berlin sans";
  padding: 70px; 
  position: absolute;
  top: 155px;
  width: 100%;
  text-align: left;
  word-spacing: 5px;


}
.txt{
  color: white;
  font-size: 40px;
  font-family: "ostrich sans";
  padding: 70px; 
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: left;
}

.numbertext{
  font-size: 20px;
  z-index: 2;
  padding: 8px 12px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.7;
  height: 95px;
  background-color: black;  
}
.numbertext a:hover{
    background-color: black;
    opacity:0.8;
}


.active {
  background-color: #717171;
  
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 70%;
    
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    ;
    margin-left: 200px;
    color: black;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover {
    background-color: #808080;
    box-shadow: 4px 4px 4px  black;
}

.container1 {
    border-radius: 5px;
    padding: 20px;
    margin-right: 400px;
    color: black;
  margin-left: 400px;
}

